{% extends "base.html" %}
{% load static %}
{% block pagetitle%}Home{% endblock %}

{% block content %}
<div class="container pt-4 pb-4">
	<div class="row">
		{% if author_selected %}
			<div class="col-lg-6">
				<h5 class="font-weight-bold spanborder"><span>Author Selection</span></h5>
				<div class="card border-0 mb-4 box-shadow h-xl-300">
					<div style="background-image: url({{author_selected.image_link}}); height: 150px;    background-size: cover;    background-repeat: no-repeat;"></div>
					<div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
						<h2 class="h4 font-weight-bold">
						<a class="text-dark" href="{% url 'detail_post_page' slug=author_selected.slug %}">{{author_selected.title}}</a>
						</h2>
						<p class="card-text">
							 {{ author_selected.description|safe|striptags|truncatewords:"40"|linebreaks }}
						</p>
						<div>
							<small class="text-muted">{{author_selected.created | date:"M d"}} &middot; {{author_selected.reading_time}} min read</small>
						</div>
					</div>
				</div>
			</div>
		{% endif %}
		{% if trending_blogs %}
			<div class="col-lg-6">
				<h5 class="font-weight-bold spanborder"><span>Trending Blogs</span></h5>
				<div class="flex-md-row mb-4 box-shadow h-xl-300">
					{% for tr_blog in  trending_blogs%}
						<div class="mb-3 d-flex align-items-center">
							<img height="80" src="{{tr_blog.image_link}}">
							<div class="pl-3">
								<h2 class="mb-2 h6 font-weight-bold">
								<a class="text-dark" href="{% url 'detail_post_page' slug=tr_blog.slug %}">{{tr_blog.title}}</a>
								</h2>
								<div class="card-text text-muted small">
									 {{ tr_blog.author }} in   {% for tag in tr_blog.tags.all %}
         							 	<a href="{% url 'tag_posts_page' slug=tag.slug %}">#{{ tag }}</a>
									 {% if not forloop.last %}, {% endif %} {% endfor %}
								</div>
								<small class="text-muted">{{author_selected.created | date:"M d"}} &middot; {{author_selected.reading_time}} min read</small>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		{% endif %}
	</div>
</div>

<div class="container">
	<div class="row justify-content-between">
		<div class="col-md-8">
			<h5 class="font-weight-bold spanborder"><span>All Stories</span></h5>
			{% for object in object_list %}
				<div class="mb-3 d-flex justify-content-between">
					<div class="pr-3">
						<h2 class="mb-1 h4 font-weight-bold">
						<a class="text-dark" href="{% url 'detail_post_page' slug=object.slug %}">{{ object.title }}</a>
						</h2>
						<p>
							{{ object.description|safe|striptags|truncatewords:"30"|linebreaks }}
						</p>
						<div class="card-text text-muted small">
							{{ object.author }} in   {% for tag in object.tags.all %}
         							 <a href="{% url 'tag_posts_page' slug=tag.slug %}">#{{ tag }}</a>
							{% if not forloop.last %}, {% endif %} {% endfor %}
						</div>
						<small class="text-muted">{{object.created|timesince}} ago: {{object.reading_time}} min read</small>
					</div>
					<img height="120" src="{{object.image_link}}">
				</div>
			{% empty %}
				<p> No posts found</p>
			{% endfor %}
		</div>
		<div class="col-md-4 pl-4">
            <h5 class="font-weight-bold spanborder"><span>Popular</span></h5>
			<ol class="list-featured">
				{% for popular_post in popular_posts %}
					<li>
						<span>
							<h6 class="font-weight-bold">
								<a href="{% url 'detail_post_page' slug=popular_post.slug %}" class="text-dark">{{popular_post.title}}</a>
							</h6>
							<p class="text-muted">
								{{ popular_post.author }} in   {% for tag in popular_post.tags.all %}
         							 <a href="{% url 'tag_posts_page' slug=tag.slug %}">#{{ tag }}</a>
							{% if not forloop.last %},{% endif %} {% endfor %}
							</p>
						</span>
					</li>
				{% empty %}
					<p> No Popular Posts found</p>
				{% endfor %}
			</ol>
		</div>
	</div>
</div>

{% endblock %}
